/venv/
/source/active.txt
/source/all.txt
/source/amateur.txt
/source/celestrak_tle.txt
/source/cubesat.txt
/source/de421.bsp
/source/deltat.data
/source/deltat.preds
/source/kivytest.py
/source/Leap_Second.dat
/source/range_circle.c
/source/satellite_data
/source/satellites_with_tles
/source/satnogs.txt
/source/satnogs_satellites
/source/satnogs_tle.txt
/source/satnogs_transmitters
/source/save.p
/source/stations.txt
/source/tle.txt
